html {
    /*
    Colors:
        Red: 
            --top_buttom_bar_background: #C1272D;
            --top_buttom_bar_color: black;
            --buttons_background: #C1272D;
            --background_color: gray;
            --color: black;
            --divs_background: #871b23;
            --arows_background: gray;

        Blue:
            --top_buttom_bar_background: #0A576C;
            --top_buttom_bar_color: white;
            --buttons_background: #5FBFE1;
            --buttons_background_hover: #5FBFE1;
            --background_color: #E6E6E6;
            --color: black;
            --divs_background: #77A9E6;
            --arows_background: gray;

    */
    --top_buttom_bar_background: #176B87;
    --top_buttom_bar_color: #EEF5FF;
    --buttons_background: #85c8e0;
    --buttons_background_hover: #85c8e0;
    --buttons_color: #fff;
    --background_color: #EEF5FF;
    --color: black;
    --divs_background: rgb(133, 200, 224);
    --divs_color: black;
    --divs_border_news: #85c8e0;
    --arows_background: gray;
    --heading_talks: #176B87;

    /*Contact us*/

    --bg-color: rgba(0,213,255,1);
    --container-bg-color: #fff;
    --facebook-color: #1778F2;
    --hotmail-color: rgb(234, 116, 16);
    --whatsapp-color: #25D366;
    --youtube-color: #f00;
    --container-shadow:2.3px 2.3px 1.9px rgba(0, 0, 0, 0.035),5.4px 5.4px 4.3px rgba(0, 0, 0, 0.048),9.7px 9.7px 7.7px rgba(0, 0, 0, 0.054),16.1px 16.1px 12.8px rgba(0, 0, 0, 0.057),26.5px 26.5px 21.2px rgba(0, 0, 0, 0.062),46.2px 46.2px 37px rgba(0, 0, 0, 0.073),100px 100px 80px rgba(0, 0, 0, 0.12);
}

video {
    width: inherit;
    height: inherit;
    margin: auto;
    border-radius: 30px;
    background-size: cover;
}

.video {
    background-image: linear-gradient(to bottom, var(--divs_background), var(--divs_background) black, black);
    border-radius: 30px;
    width: 850.6588235px;
    height: 50vh;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.explain {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.explain h1, .explain p {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.social-icon-list {
    color: rgb(65, 65, 65);
}