@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.top_bar {
    background-color: #C1272D;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-bottom: 20px;
    z-index: 1000;
}

.right {
    float: right;
    margin-right: 2.5%;
    text-align: right;
}

.left {
    float: left;
    margin-left: 2.5%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}

.logo_only {
    background-color: transparent;
    background-image: url(assets/Logo_only.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 5px 7px 5px 0;
    margin: 15px 30px 0 0;
    border-radius: 100%;
    justify-content: center;
    text-align: center;
}

.text_top_bar, .text_button_bar {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    padding: 0px 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #858585;
    color: #182631;
    font-size: 25px;
    font-family: "Roboto","Arial",sans-serif;
    display: block;
    gap: 20px;
}

.top_bar button, .column button {
    background-color: #C1272D;
    border: 0px;
    border-radius: 50px;
}

.column button, .sign_in button, .explain button {
    box-shadow: inset 0 0 0 0 #C1272D;
    color: #000000;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.column button:hover, .sign_in button:hover, .explain button:hover {
    color: #C1272D;
    box-shadow: inset 1000px 0 0 0 #000000;
}

.top_bar button:hover {
    background-color: gray;
    opacity: 0.7;
    border-radius: 50px;
    cursor: pointer;
}

.top_bar button:active {
    color: black;
}

.top_bar a:hover {
    background-color: gray;
    opacity: 0.7;
    border-radius: 50px;
}

a {
   text-decoration: none;
}

a:active {
    color: black;
}

abbr {
    text-decoration: none;
}

.first_of_page {
    margin: 0;
    padding: 0;
    background-color: #871b23;
    color: black;
    border: 1px solid #871b23;
    width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box;
}

.left_talk {
    float: left;
    margin: 2%;
    font-size: 3rem;
    font-family: "Roboto","Arial",sans-serif;
    text-align: center;
    width: 30%;
    padding: 0 50px;
}

.right_talk {
    float: right;
    margin: 2%;
    width: 50%;
    font-size: 2rem;
    font-family: "Roboto","Arial",sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right_talk p {
    float: right;
    font-family: 'Times New Roman', serif;
    color: #000000;
    display: flex;
    align-items: right;
    justify-content: center;
}

.sign_in {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.explain button {
    width: auto;
    height: 60px;
    border: 5px solid #C1272D;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding: 0;
    background-color: #C1272D;
}

.sign_in button {
    border: 5px solid #C1272D;
    background-color: #C1272D;
    border-radius: 30px;
    cursor: pointer;
    width: 260px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
}



/*News*/

.news {
    text-align: center;
    height: 75vh;
    width: 100%;
    z-index: 999;
}

.arrow_left, .arrow_right {
    border-radius: 100%;
    background-color: #858585;
    border-width: 0;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.arrow_left {
    margin: 37.5vh 0 0 1%;
    float: left;
}

.arrow_left:hover {
    cursor: pointer;
    transform: scale(1.4);
    background-image: linear-gradient(to bottom, #C1272D, #858585);
}

.arrow_right {
    margin: 37.5vh 1% 0 0;
    float: right;
}

.arrow_right:hover {
    cursor: pointer;
    transform: scale(1.4);
    background-image: linear-gradient(to top, #C1272D, #858585);    
}

.material-symbols-outlined {
    text-align: center;
    justify-content: center;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/*Content*/

.contents {
    padding: 0 2.5%;
    color: black;
    border: 5px solid black;
    width: 85%;
    height: 74vh;
    margin: auto;
    overflow: auto;
    scroll-behavior: smooth;
    display: block;

    justify-content: center;
    align-items: center;
}

.contents::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    height: 2vh;

}
.contents::-webkit-scrollbar-thumb {
    background-color: rgba(3, 3, 3, 0.794);
    border-radius: 20px;
    cursor: n-resize;
}

.content {
    margin: 2.5% auto;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.306);
    box-shadow: 5px 5px 10px black;
    width: min(80vw);
    height: auto;
    padding: 2.5%;
}

.content img {
    width: max(60vw);
    size: cover;
}

/*Pops*/

.pops{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 900;
}

.card, .card_r {
    background-color: #fff;
    width: 15rem;
    height: auto+5px;
    box-shadow: 10px 10px 50px grey;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    text-align: center;
}

.card {
    filter: blur(10px);
}

.card_r:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 50px 10px rgb(223, 239, 252) inset;
}

.card_r a{
    background-color: #C1272D;
    border: 5px solid #C1272D;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #C1272D;
    color: white;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.card_r a:hover {
    color: #C1272D;
    box-shadow: inset 1000px 0 0 0 white;
}

/*Further information*/

.further_information {
    background-color: #C1272D;
    color: #000000;
    font-size: 25px;
    padding: 10px 10px;
    text-align: center;
}

.further_information h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

.further_information img {
    margin: 10px auto;
    width: 400px;
    height: 317px;
}

.further_information .logo_only {
    text-align: center;
    margin: auto;
}


.more_info {
    text-align: center;
    margin: 0 20%;
    height: auto;
    color: #000000;
    font-size: 1.5rem;
}

.column {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 0 10%;
}